#page-login {
    display: flex;
    min-width: 100vh;
}

main {
    flex: 1;
}

#forgot-pass {
    text-align: right;
}

p {
    text-align: center;
    margin-top: 10rem;
    color: black;
}

#register-button {
    margin-top: 2rem;
}