<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Happy</title>

    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/page-login.css">

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
</head>
<body>

    <div id="page-login">
        
        <div id="login-container">

            <aside class="animate-right sidebar">
        
                <img src="/images/map-marker.svg" alt="Happy">

                <footer>
                <button onclick="history.back()">
                    <img src="/images/arrow-back.svg" alt="Voltar">
                </button>
                </footer>
            </aside>

            <main class="animate-appear with-sidebar">
            
                <h1>Login</h1>
                <form action="">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" placeholder="Digite a sua senha">
                    <a href="#" id="forgot-pass">Esqueceu a senha?</a>
                    <input type="submit" value="Login">
                </form>

                <div id="social-container">
                    <p>Ou entre pelas suas redes sociais</p>
                    <img src="/images/facebook.svg" alt="Entrar com Facebook">
                    <img src="/images/linkedin.svg" alt="Entrar com Linkedin">
                </div>

                <div id="register-container">
                    <p>Ainda não tem uma conta?</p>
                    <a href="#">Registrar</a>
                </div>
            
            </main>

        </div>

    </div>
    
</body>
</html>