<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Happy</title>

    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/page-login.css">

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
</head>
<body>

    <div id="page-login">
        
            <aside class="animate-right sidebar">
        
                <img src="/images/map-marker.svg" alt="Happy">

                <footer>
                <button onclick="history.back()">
                    <img src="/images/arrow-back.svg" alt="Voltar">
                </button>
                </footer>
            </aside>

            <main class="animate-appear with-sidebar">
            
                <form action="">
                    <fieldset>
                        <legend>Cadastro</legend>

                        <div class="input-block">
                            <label for="name">Nome completo</label>
                            <input type="text" name="name" id="name" placeholder="Digite seu nome completo" required>
                        </div>
                        
                        <div class="input-block">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
                        </div>
                        
                        <div class="input-block">
                            <label for="password">Senha</label>
                            <input type="password" name="password" id="password" placeholder="Digite a sua senha" required>
                        </div>
                        
                        <button type="submit" class="primary-button" id="login-button">Cadastrar</button>

                    </fieldset>
                </form>
            
            </main>

    </div>

    <script src="/scripts/page-login.js"></script>
    
</body>
</html>